@font-face {
  font-family: "Avenir Next";
  src: url("./../otf/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("./../otf/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Italic";
  src: url("./../otf//AvenirNextLTPro-It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Book";
  src: url("./../otf//AvenirNextLTPro-It.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
