@use './../../static/constants/colors.scss' as colors;
@use './../../static/constants/fonts.scss' as fonts;

// FOOTER NAV
.footer-nav-container {
  display: flex;
  padding: 40px 147px;
  border-bottom: 1px solid colors.$cloud;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.nav-title {
  @include fonts.footer-title();
}

.footer-nav-container-inner {
  margin-right: 66px;
}

// BRAND ANCHOR
.anchor-container {
  @include fonts.brand-anchor();
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 147px;
}

.social-icons {
  display: flex;
  column-gap: 19px;
}
