@use './../../static/constants/colors.scss' as colors;
@use './../../static/constants/fonts.scss' as fonts;

// Page
.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 62px;
  margin-bottom: 101px;
}

// Image
.page-path {
  @include fonts.page-path();
  display: flex;
  align-items: center;
  align-content: center;
  column-gap: 8px;
  margin: 45px 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.image-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 30px;
  margin-bottom: 38px;

  img {
    width: 678px;
    height: 670px;
  }

  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.dots-wrapper {
  display: flex;
  justify-content: center;
}

// Details
.details-container {
  width: 442px;

  h3 {
    @include fonts.book-name();
    margin: 24px 0;
  }

  p {
    @include fonts.book-description();
  }
}

.price-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin: 24px 0;

  h4 {
    @include fonts.sale-price();
    margin: 0;
  }

  div {
    color: colors.$midGray;
  }
}

.add-to-cart-container {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 24px 0;

  button {
    @include fonts.add-to-cart-button();
    box-sizing: border-box;
    flex-basis: 206px;
    background: none;
    border: none;
    padding: 16px 43px;
    background: colors.$orange;
  }
}

.quantity {
  box-sizing: border-box;
  flex-basis: 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid colors.$midGray;
  padding: 16px 0px 16px 16px;

  input {
    border: none;
    width: 2em;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.social-container {
  margin: 24px 0;

  div {
    margin: 8px 0;
    font-weight: 600;
  }

  .social-buttons-container {
    display: flex;
    column-gap: 16px;
  }
}

.more-details {
  @include fonts.more-details();
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid colors.$cloud;
  border-bottom: 1px solid colors.$cloud;
  margin-top: -1px; // to get the borders to collapse
}
