@use './../../static/constants/colors.scss' as colors;
@use './../../static/constants/fonts.scss' as fonts;

// TopBar
.top-bar-container {
  @include fonts.nav-top-bar();
  display: flex;
  justify-content: space-between;
  padding-right: 147px;
  color: colors.$darkGray;
  background-color: colors.$cloud;
  position: relative;
  z-index: 1;

  .tabs-container {
    display: flex;
    flex-direction: row;

    button {
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }

    .nav-tab {
      padding: 9px 19px;
    }

    .selected-tab {
      color: colors.$orange;
      background: colors.$lightCloud;
    }
  }
}

// Menu
.menu-container {
  @include fonts.nav-menu();
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 147px; // split the 16px top and bottom padding with the Orange logo element, because if it wraps want some margin on the logo
  box-shadow: 0px -6px 24px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 0;

  .menu-container-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;

    .logo-wrapper {
      margin: 8px 0; // see note above
    }

    button {
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }
}

@media screen and (max-width: 1000px) {
  .top-bar-container {
    padding-right: 3%;
  }

  .menu-container {
    padding: 16px 3%;
  }
}
